
#advantage.container-fluid
  h2 Наши преимущества
  .row
    .col-md-4.col-sm-4.col-xs-12
      img.img-responsive.img-circle(src='images/advantage image.jpg')
    .col-md-7.col-md-offset-1.col-sm-8.col-xs-12
      // <h3>Наши преимущества</h3>
      ul
        li Cамые современные материалы (производства Германии, США, Японии)
        li Современные методики лечения и протезирования
        li Наши врачи это мастера своего дела с многолетним клиническим опытом
        li Гарантия на все выполняемые виды работ
        li Доступные цены (вы будете приятно удивлены)
        li Удобное месторасположение (центр города, большая парковка)
  p.text-justify
    | Можно бесконечно рассказывать о том, какие услуги мы предлагаем, какими замечательными специалистами
    | являются наши сотрудники. Но зачем? Приходите к нам, и Вы все сами оцените! Придя к нам единожды, Вы
    | станете нашим постоянным клиентом, потому что Вам у нас понравится! Даже маленькие дети без боязни лечат у нас свои
    | зубки.
