
#main.container-fluid
  h2 Главная
  .row
    .col-xs-12.col-md-6.col-sm-4
      img.img-responsive.img-rounded(src='images/index image.png')
    .col-xs-12.col-md-6.col-sm-8
      h3 Наша стоматологическая клиника  — это:
      ul#listmain
        li Полный спектр стоматологических услуг
        li Только самое современное оборудование и материалы
        li Удобное месторасположение
        li Индивидуальный подход к каждому клиенту
        li Высококвалифицированный медицинский персонал
        li Врачи только первой и высшей категорий

