
#top.jumbotron
  .container-fluid
    .row
      .col-xs-12.col-md-9
        h1
          | Стоматологическая клиника
          br
          b "Савицкая Е.Э."
        p
          | Запись по телефону
          span.glyphicon.glyphicon-phone-alt  80293223775
          br
          br
          span.glyphicon.glyphicon-home   г. Жодино, ул. Деревянко д.8-1
      .hidden-xs.col-md-3

